[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/allfold"]
	path = bundle/allfold
	url = https://github.com/vim-scripts/allfold
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/jcfaria/Vim-R-plugin.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
